@model TelefonSatis.Models.User

@{
    ViewData["Title"] = "Login";
}


<div class="col-md-4 offset-md-4 my-4" style="padding-bottom:25%; padding-top:10%">
    @using (Html.BeginForm())
    { 
        <div class="card shadow">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-3">
                        <h3>
                            <span class="fa fa-sign-in fa-2x"></span>
                        </h3>
                    </div>
                    <div class="col-md-9 text-right">
                        <h2>Giriş Yap</h2>
                    </div>
                </div>
            </div>
            <div class="card-body">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.TextBox("Mail",null, new { @class = "form-control"})
                    @*<input asp-for="Mail" name="Mail" class="form-control" placeholder="Mail" />*@
                    <span asp-validation-for="Mail" class="text-danger"></span>
                </div>
                <div class="form-group">
                    @Html.TextBox("Password", null, new { @class = "form-control" })
                    @*<input asp-for="Password" name="Password" type="password" class="form-control" placeholder="Şifre" />*@
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                
            </div>
            <div class="card-footer text-muted text-right">
                <a href="@Url.Action("Create", "Users")" class="btn btn-outline-danger mr-2">Kayıt Ol</a>
                <input type="submit" value="Giriş Yap" class="btn btn-outline-success mr-2" />
            </div>
        </div>
    }
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
