@model TelefonSatis.Models.User

@{
    Layout = "~/Views/AdminPanel/_AdminLayout.cshtml";
    ViewData["Title"] = "Edit";
}

<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid">
            <h1 class="mt-4">Kullanıcı Yönetimi</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item">Yönetim Paneli</li>
                <li class="breadcrumb-item active">Kullanıcı Düzenle</li>
            </ol>
            <div class="card mb-4">
                <div class="card-body">
                    @{

                        for (int i = 0; i < 180; i++)
                        {
                            <span>&nbsp;</span>
                        }
                    }

                </div>
            </div>
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table mr-1"></i>
                    Kullanıcı Kayıtları
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <h2>Kullanıcı Düzenle</h2>

                        <hr />
                        <div class="row">
                            <div class="col-md-12">
                                <form asp-action="Edit">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <input type="hidden" asp-for="UserId" />
                                    <div class="form-group">
                                        <label asp-for="UserName" class="control-label">Kullanıcı Adı</label>
                                        <input asp-for="UserName" class="form-control" />
                                        <span asp-validation-for="UserName" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Password" class="control-label">Kullanıcı Şifre</label>
                                        <input asp-for="Password" class="form-control" />
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Mail" class="control-label">Kullanıcı Mail</label>
                                        <input asp-for="Mail" class="form-control" />
                                        <span asp-validation-for="Mail" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Permission" class="control-label">Kullanıcı Yetki</label>
                                        <input asp-for="Permission" class="form-control" />
                                        <span asp-validation-for="Permission" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" value="Save" class="btn btn-dark" />
                                    </div>
                                </form>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
